{% extends "base.html" %}
{% block content %}
<div class="form-box">
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password(class="form-control") }}
        </div>
        {{ form.submit(class="btn") }}
    </form>
    <p>Don’t have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</div>
{% endblock %}
